*{
    padding: 0;
    margin :0;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #f9fafc;
}
.navbar{
    display:flex;
    /* flex-wrap: wrap;  */
    align-items: center;
    justify-content: space-between; 
    background-color: #fff;
  
}
.navbar_brand{
    width: 100px;
}
.navbar_logo{
    width:100%;
}
.nav_item{
    background-image:linear-gradient(to right,
    #ff512f 0%,#dd2476 51%,#ff512f 100%);
    color:#fff;
    padding:12px;
    border:none;
    border-radius:6px; 
    font-weight: 600;
}
.nav_item:hover{
    background-position: right center;
    border:3px solid #FF7674;
    cursor:pointer;
}
@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding:10px 30px;
    }
}
@media (min-width:1024px){
    .navbar_brand{
      padding:20px;
      font-size:20px;
        
    }
}